<form action="/books/<%=book.id%>?_method=PUT" method="POST">
  <%if (locals.errMessage != null) {%>
    <%=errMessage%>
    <%}%>
    <%- include("_inputs.ejs") %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>

</form> 